


<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HOMEPAGE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="./css/bootswatch.min.css">
        <link rel="stylesheet" href="./fontawesome/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
    
  </head>

<body>
     <div class="navbar navbar-default navbar-fixed-top">
      <div class="container" align="center">
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                  <ul class="nav navbar-nav navbar-center">
                  <!--home-->

                    <li ><a ></a></li>
                    <li ><a></a></li>
                    <li ><a ></a></li>
                    <li ><a></a></li>
                    <li ><a ></a></li>
                    <li ><a></a></li>
                    <li ><a ></a></li>
                    <li ><a></a></li>
                    <li ><a ></a></li>
                    <li ><a></a></li>
                                        <li ><a></a></li>
                    <li ><a></a></li>


                    <li ><a href="./about.html">About Me</a></li>
                    <li ><a href="./work.html">My Works</a></li>
                    <li ><a href="./contact.html">Contacts</a></li>


                  </ul>
                </div>
      </div>
    </div>



<br>
        <div class="page-header">

        </div>

        <div class="row" align="center">

<!--image-->
<div class="page-header">
<!--name-->

<!--dep-->
<!--college-->
<!--fb-->
<!--tweet-->
<!--linked-->

        </div>
        <p class="pull-right"><a>&copy; All Rights Reserved</a></p>


        </div>








    </div>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/bootswatch.js"></script>
                 

  </body>
</html>
